@use '@angular/material' as mat;

@import 'mixins/normalize';
@import 'variables/palette';

@include normalize;
@include mat.core;

$vyne-test-primary: mat.define-palette($primary-palette);
$vyne-test-accent: mat.define-palette($secondary-palette);
$vyne-test-warn: mat.define-palette(mat.$red-palette);
$vyne-test-theme: mat.define-light-theme(
  (
    color: (
      primary: $vyne-test-primary,
      accent: $vyne-test-accent,
      warn: $vyne-test-warn
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

@include mat.all-component-themes($vyne-test-theme);

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  --mat-app-background-color: #fafafc;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.mat-mdc-snack-bar-container {
  &.error {
    --mdc-snackbar-container-color: var(--mat-form-field-error-text-color);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}
