$primary-palette: (
  50: #e2e1e5,
  100: #b6b3bf,
  200: #868094,
  300: #554d69,
  400: #302748,
  500: #0c0128,
  600: #0a0124,
  700: #08011e,
  800: #060118,
  900: #03000f,
  A100: #5252ff,
  A200: #1f1fff,
  A400: #0000eb,
  A700: #0000d1,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #fff,
    A200: #fff,
    A400: #fff,
    A700: #fff
  )
);
$secondary-palette: (
  50: #edebfe,
  100: #d3ccfd,
  200: #b6abfc,
  300: #9889fb,
  400: #826ffa,
  500: #6c56f9,
  600: #644ff8,
  700: #5945f7,
  800: #4f3cf6,
  900: #3d2bf5,
  A100: #fff,
  A200: #fff,
  A400: #d1ceff,
  A700: #bab4ff,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000
  )
);
